
* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  font-family: "Calibri", "Roboto", sans-serif;
}

a {
  color: #61dafb;
}

.chat-window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.empty-info {
  text-align: center;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .chat-window{
    height: 100vh;
  }
}
